<div *ngIf="!isMobile" class="footer-container">

    <div class="coluna logo">
        <img [src]="logoPath" alt="Logo" />
        <p>{{textCol1}}</p>
    </div>

    <div class="coluna horarios">
        <p class="titulo">{{ horariosTitulo }}</p>
        <div *ngFor="let horario of horariosTexto">
            <p class="horarios-list">{{ horario }}</p>
        </div>
    </div>

    <div class="coluna">
        <p class="titulo">{{ servicosTitulo }}</p>
        <div *ngFor="let servico of servicosTexto">
            <p class="horarios-list">{{ servico }}</p>
        </div>
    </div>

    <div class="coluna">
        <p class="titulo">{{ contatoTitulo }}</p>
        <div class="icones-contato">
            <img [src]="instagramIcon" alt="Instagram" />
            <img [src]="facebookIcon" alt="Facebook" />
        </div>
        <p class="horarios-list" style="margin-top: 10px;">{{email}}</p>
        <p class="horarios-list">{{endereco}}</p>
        <p class="horarios-list">{{telefone}}</p>
    </div>
</div>

<div  *ngIf="isMobile" class="mobile-footer">
    <div>
        <img [src]="logoPath" alt="Logo" />
        <p style="margin-top:2vh;">{{textCol1}}</p>
    </div>

    <div style="margin-top:5vh ;">
        <p class="mtitulo">{{ contatoTitulo }}</p>
        <div class="icones-contato">
            <img [src]="instagramIcon" alt="Instagram" />
            <img [src]="facebookIcon" alt="Facebook" />
        </div>
        <p class="" style="margin-top: 10px;">{{email}}</p>
        <p class=""  style="margin-top: 10px;">{{endereco}}</p>
        <p class=""  style="margin-top: 10px;">{{telefone}}</p>
    </div>



</div>