.container {
    align-items: center;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #C1C1C1;
    flex-direction: column;
    background-color: #B5ACA3;
    height: 100vh;
}

.sub-container {
    margin-top: 75px;
    display: flex;
}

.title {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Archia;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-title {
    margin: 30px;
    color: #FFF;
    max-width: 864px;
    text-align: center;
    font-family: Archia;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.map-container {
    display: flex;
    width: 80vw;
    height: 60vh;
    flex-shrink: 0;
    background-image: url("../../../assets/fake-map.png");
    background-size: cover;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: -30px;
}

.map-area {
    display: flex;
    margin-top: 10vh;
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 60px;
}

.shadow-area {
    border-radius: 20px;
    background-color: #F6F6F6;
    width: 80vw;
    height: 60vh;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {

    .container,
    .map-area,
    .shadow-area {
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .map-area{
        margin-top: 60px;        
    }

    .map-container {
        width: 100%; 
        margin-left: 30px;
        margin-right: 60px;
    }

}