.container {
    margin-top: 10vh;
    align-items: center;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #C1C1C1;

}

.sub-container {
    height: 50vh;
}

.text-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #000;
    text-align: left;
    font-family: Archia;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-area {
    display: flex;
    align-items: center;
}

.details {
    color: #8496A7;
    text-align: center;
    font-family: Archia;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

.services-cards {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 368px;
    height: 187px;
    border-radius: 20px;
    background: #D8DAD9;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.card-title {
    color: #647788;
    font-family: Archia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-text {
    color: #647788;
    font-family: Archia;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 289px;
    height: 42px;
}

.mobile-details {
    display: none;
}

@media screen and (max-width: 1250px){
    .container{
        /* 20m */
    }


    .card{
        display: flex;
        width: 300px;
    }

    .card-text{
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        margin-right: 0;
        height: auto;
    }

    .sub-container {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
    }

    .text-area {
        margin-top: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details-area {
        display: none;
    }

    .services-cards {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        flex: wrap;
    }

    .card {
        width: 100%;
        margin-top: 5vh;
    }

    .mobile-details {
        margin-top: 5vh;
        cursor: pointer;
        width: 100%;
        display: block;
        margin-bottom: 5vh;
    }

}