.banner {
    width: 100%;
    height: 20vh;
    background-color: #B5ACA3;
    background-image: url("../../../assets/servicos-banner.png");
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5vw;

}
.title h1{
    color: #FFF;
    text-align: center;
    font-family: Archia;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative; /* Adicione esta linha para posicionar corretamente o pseudo-elemento */
    margin-bottom: 10px; 
}

.title h1::after {
    content: '';
    display: block;
    width: 40%; 
    height: 2px; 
    background-color: #FFF; 
    position: absolute;
    left: 0; 
    bottom: -8px;
}