body {
    border-bottom: 1px solid #c1c1c1;
}

.container {
    padding-top: 20vh;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

.sub-container {
    position: relative;
}

.brown-container {
    width: 502px;
    height: 370px;
    border-radius: 20px;
    background: #B5ACA3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.photo-container {
    width: 502px;
    height: 370px;
    border-radius: 20px;
    background: white;
    background-image: url('../../../assets/oficial_img_files/EM_240325_LG_0060.jpg');
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    /* Altere para position: absolute; */
    top: -30px;
    right: -30px;
    background-size: cover;
    background-position: center;
}

.text-main {
    color: #B5ACA3;
    text-align: left;
    font-family: Archia;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-container {
    text-align: left;
    padding-left: 100px;
}

.sub-text {
    margin-top: 30px;
    width: 550px;
}

.main-button {
    margin-top: 40px;
}

.main-button button {
    font-size: 18px;
    display: inline-flex;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #B5ACA3;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1180px) {
    .text-main {
        margin-top: 30px;
        text-align: center;
    }

    .main-button {
        display: flex;
        justify-content: center;
    }

    
}

@media screen and (max-width: 1300px) {
    .container {
        margin-left: 3vw;

    }

    .about-container {
        padding-left: 70px;
    }

}

@media screen and (max-width: 768px) {

    .img-ctn {
        margin-right: 30px;
    }

    .container {
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .brown-container {
        margin-top: 5vh;
        width: 75vw;
        height: 25vh;

    }

    .photo-container {
        margin-top: 5vh;
        width: 75vw;
        height: 25vh;

    }

    .about-container {
        text-align: left;
        padding-left: 0;
        width: 100%;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .text-main {
        margin-top: 5vh;
    }

    .sub-text {
        width: 100%;
    }

    .main-button button {
        width: 100%;
    }

}