<div *ngIf="position === 'left'" class="container">
    <div class="sub-container">
        <div class="brown-container">
            <div class="photo-container">
            </div>
        </div>
    </div>

    <div class="sub-container">
        <h2>{{serviceTitle}}</h2>
        <p>{{serviceText}}</p>
    </div>
</div>

<div *ngIf="position === 'right'" class="container">
    <div class="sub-container">
        <h2>{{serviceTitle}}</h2>
        <p>{{serviceText}}</p>
    </div>

    <div class="sub-container">
        <div class="brown-container">
            <div class="photo-container">
            </div>
        </div>
    </div>


</div>
